.Login {
<<<<<<< HEAD
    background-color: #1E0045;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #C33BD6;
    font-family: "Harlow Solid";
  }
  .login-button {
    font-size: 50px;
    display:block;
    color: #34DE04;
    border: 3px solid #C33BD6;
    text-align: center;
    font-family: "Harlow Solid";
    background-color: #1E0045;
  }
=======
  background-color: #1E0045;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #C33BD6;
  font-family: "Harlow Solid";
}
.login-button {
  font-size: 50px;
  display:block;
  color: #34DE04;
  border: 3px solid #C33BD6;
  text-align: center;
  font-family: "Harlow Solid";
  background-color: #1E0045;
}
>>>>>>> 076725bcd1449e021a13eb6190f0418ebdc9b5fa
